.authContainer{
    width: 100vw;
    height: 100vh;

    padding: 10px;
    
    background: url('/src/assets/auth/auth-background.jpg') no-repeat fixed center;
    background-size: cover;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.authBox {
    width: 35rem;
    height: 35rem;

    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .21); 
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
  
  .authBox:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    box-shadow: inset 0 0 2000px rgba(117, 53, 36, 0.5);
    filter: blur(15px);
    margin: -20px;
  }